/*CSS Styles*/

/* Font Stacks
Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;

"Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
"Helvetica Neue", Helvetica, Arial, sans-serif;
*/

/*Colors

#388EA8
#349D91
#C44F67
#C89E5B
#C77A57
#577CC7
#D071C2

*/

body {
	background:
	url('../images/bg/retina_wood.png')
	center center
	repeat
	transparent
	; 
	color:#414141;
	font-size:14px;
}

#container {
	width:960px;
	margin: 0 auto;

}

article {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

article header {
	padding:10px 20px;
	color: rgb(255,255,255);
}

article header h2 {
	font-size:30px;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.8);
}


.content {
	background: #ffffff;
	padding:20px 20px 10px;
	margin-bottom: 20px;
}


/*HEADINGS STYLE*/
#headings header{
	background: #388EA8;
}

#headings header h2 {
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

/*TEXT STYLE*/
#text header{
	background: #349D91;
}

/*IMAGES STYLE*/
#images header {
	background:#C44F67;
}

/*LIST STYLE*/
#lists header {
	background:#C89E5B;
}

#lists h4 {
	border-bottom: 1px dotted #414141;
}

#lists li {
	font-size:20px;
}

#lists ol {
	padding:0;
}


#lists ol li{
	list-style-position: inside;
	padding:5px;
}

#lists ol li:first-child{
	background:#ccc;
}

#lists ul {
	padding:0;
}

#lists ul li {
	list-style: none;
	padding:5px;
}

#lists ul li:nth-child(even) {
	font-family:Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
} 






